<StackLayout *ngIf="isBusy === true" height="100%" class="activityIndicator">
    <ActivityIndicator [busy]="isBusy" color="green" width="65" height="65"></ActivityIndicator>
    <Label text="Cerrando sesión" textWrap="true"></Label>
</StackLayout>
<!-- Tabs -->
<Tabs selectedIndex="0" tabsPosition="bottom" swipeEnabled="true" *ngIf="isBusy === false">
    <TabStrip>
        <TabStripItem>
            <!-- <Label text="Inicio"></Label> -->
            <Image src="font://&#xf015;" class="fas"></Image>
        </TabStripItem>
        <TabStripItem class="special">
            <!-- <Label text="Cuenta"></Label> -->
            <Image src="font://&#xf007;" class="fas"></Image>
        </TabStripItem>
    </TabStrip>
    <TabContentItem>
        <GridLayout rows="*,*,*" columns="*,*" class="layout-home">
            <StackLayout row="0" col="0" class="studiants-layout" (touch)="onTouchItem('/students')">
                <!-- <Image src="font://&#xf501;" class="fas fas-ico"></Image> -->
                <Label text="Estudiantes" textWrap="true" class="title-card"></Label>
                <Label text="&#xf501;" class="fas fas-ico background-studiants" textWrap="true"></Label>
                <Label class="sub-text" text="Muestra a todos los estudiantes del plantel" textWrap="true"></Label>
            </StackLayout>
            <StackLayout row="0" col="1" class="groups-layout">
                <!-- <Image src="font://&#xf501;" class="fas fas-ico"></Image> -->
                <Label text="Grupos" textWrap="true" class="title-card"></Label>
                <Label text="&#xf0c0;" class="fas fas-ico background-groups" textWrap="true"></Label>
                <Label class="sub-text" text="Muestra los grupos con sus respectivos alumnos" textWrap="true"></Label>
            </StackLayout>
            <StackLayout row="1" col="0" class="courses-layout" (touch)="onTouchItem('/courses')">
                <!-- <Image src="font://&#xf501;" class="fas fas-ico"></Image> -->
                <Label text="Cursos" textWrap="true" class="title-card"></Label>
                <Label text="&#xf51c;" class="fas fas-ico background-courses" textWrap="true"></Label>
                <Label class="sub-text" text="Muestra los cursos con los que cuenta la institución"
                    textWrap="true"></Label>
            </StackLayout>

            <!-- <Label row="1" col="1" text="row 1 Col 2" textWrap="true"></Label>
            <Label row="2" col="0" text="row 2 Col 1" textWrap="true"></Label>
            <Label row="2" col="1" text="row 2 Col 2" textWrap="true"></Label> -->
        </GridLayout>
    </TabContentItem>
    <TabContentItem>
        <GridLayout>
            <GridLayout rows="*, 50" columns="*">
                <div row="0" col="0">
                    <!-- <Label text="Aquí va el pdf" textWrap="true"></Label> -->
                    <!-- <PDFView [src]="pdfUrl" (load)="onLoad()"></PDFView> -->
                </div>
                <Button row="1" text="&#xf2f5;    Cerrar sesión" class="fas" (tap)="logOut()"></Button>
            </GridLayout>
        </GridLayout>
    </TabContentItem>
</Tabs>
