/* Add mobile styles for the component here.  */
.list-group {
    margin-top: 10px;
}

.list-group-item {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 16;
}

.notList {
    text-align: center;
    vertical-align: middle;
    font-size: 14;
    font-weight: bold;
}
