<ActionBar title="Universidad Tecnológica">
    <NavigationButton icon="font://&#xf0c9;" class="fas fas-size-ab" (tap)="onOpenDrawerTap()">
    </NavigationButton>
</ActionBar>
<GridLayout rows="*" height="100%">
    <RadSideDrawer>
        <StackLayout tkDrawerContent>
            <StackLayout class="stk-drawer-header">
                <GridLayout rows="*" columns="60, 200">
                    <Image col="0" src="res://icon"></Image>
                    <Label col="1" class="drawer-header" text="UT - Menú"></Label>
                </GridLayout>
            </StackLayout>
            <StackLayout height="100%">
                <!-- <Button text="&#xf234;    Nuevo estudiante" class="fas" (tap)="onTap('/new')"></Button>
                <Button text="&#xf03a;     Lista de estudiantes" class="fas" (tap)="onTap('/list')"></Button> -->
                <Button text="Visor de PDF" (tap)="onTap()"></Button>
                <Button text="Cámara" (tap)="openGallery()"></Button>
            </StackLayout>
        </StackLayout>
        <StackLayout tkMainContent height="100%">
            <app-tabs></app-tabs>
        </StackLayout>
    </RadSideDrawer>
</GridLayout>