<ActionBar title="Información" icon="" class="action-bar">
    <NavigationButton icon="font://&#xf060;" class="fas fas-size-ab" (tap)="goBack()"></NavigationButton>
    <ActionItem ios.position="left" icon="font://&#xf304;" class="fas fas-size-ab" android.position="actionBar"
        (tap)="onEditTap()">
    </ActionItem>
    <ActionItem ios.position="left" icon="font://&#xf2ed;" class="fas fas-size-ab" android.position="actionBar"
        (tap)="onDeleteTap()">
    </ActionItem>
</ActionBar>
<StackLayout *ngIf="connectionActive === false">
    <app-error-connection (verifyConn)="tryConnection($event)"></app-error-connection>
</StackLayout>
<StackLayout *ngIf="connectionActive === true">
    <StackLayout class="container-info" height="180px">
        <Label [text]="student.name + ' ' + student.lastname" textWrap="true"></Label>
    </StackLayout>
    <!-- <Button [text]="this.student.name" class="btn btn-primary"></Button> -->
    <StackLayout>
        <GridLayout rows="150,150,150" columns="100,*" class="gridLayoutInformation">
            <StackLayout col="0" class="tags">
                <Label row="0" text="Matrícula" textWrap="true"></Label>
                <Label row="1" text="Edad" textWrap="true"></Label>
                <Label row="2" text="Curso" textWrap="true"></Label>
            </StackLayout>
            <StackLayout col="1">
                <Label row="0" [text]="student.matricule" textWrap="true"></Label>
                <Label row="1" [text]="student.age + ' años'" textWrap="true"></Label>
                <Label row="2" [text]="student.course" textWrap="true"></Label>
            </StackLayout>
        </GridLayout>
        <Button text="CAMBIAR A OTRO CURSO" class="button"></Button>
    </StackLayout>
</StackLayout>