/* Add mobile styles for the component here.  */
.container-info {
    background-color: #00caab;
    padding: 50px;
    font-size: 18;
    color: #fff;
    font-weight: bold;
}

.gridLayoutInformation {
    height: 350px;
    margin: 25px;
    padding: 50px;
    font-size: 16;
    border-width: 1;
    border-color: #000;
    border: 1 1 1 1;
    /* vertical-align: middle; */
}

.tags {
    font-weight: bold;
}

.button {
    width: 97%;
}