<ActionBar title="Lista de cursos" icon="" class="action-bar">
    <NavigationButton icon="font://&#xf060;" class="fas fas-size-ab" (tap)="goBack()"></NavigationButton>
</ActionBar>
<StackLayout *ngIf="isBusy === false && connectionActive === false">
    <app-error-connection (verifyConn)="tryConnection($event)"></app-error-connection>
</StackLayout>
<StackLayout *ngIf="isBusy === true" height="100%" class="activityIndicator">
    <ActivityIndicator [busy]="this.isBusy" color="green" width="65" height="65"></ActivityIndicator>
    <Label text="Cargando" textWrap="true"></Label>
</StackLayout>
<StackLayout class="p-10" *ngIf="isBusy === false && connectionActive === true">
    <ListView [items]="coursesData" class="list-group" height="100%" width="100%" (itemTap)="onItemTap($event)">
        <ng-template let-item="item" let-odd="odd" let-even="even">
            <ListView.itemTemplate>
                <StackLayout>
                    <Label [text]="item.name" class="list-group-item"></Label>
                </StackLayout>
            </ListView.itemTemplate>
        </ng-template>
    </ListView>
</StackLayout>
<StackLayout *ngIf="isBusy === false && connectionActive === true" class="flt-btn-layout" (touch)="onTouchFloatButton()">
    <app-floating-button></app-floating-button>
</StackLayout>